/*Resetting the default margins and padding*/
*{
    margin: 0; 
    padding: 0;
    width:  100%;
    height: 100%; 
}

body{
    /*Defining the display property for both webkit and ms 
    rendering engines*/

    /*Also defining all properties as stated in style-guide.md*/
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    font-size: 15px;
    font-family: 'Manrope', cursive;
    font-weight: 600;
    font-weight: normal;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

/* Defining the main content */
form{
    /* Attaching the SVG(Scalable Vector Graphics) 
    as a background pattern as well
    as adjusting it accordingly with background-position-y*/
    background-image: url('images/bg-pattern.svg');
    background-position-y: -100px;
    background-repeat: no-repeat;
    width: 93%;
    height: 600px; 
    box-shadow: 0 10px 10px 5px lightgray ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
}

.wrapper1{
    border-bottom: 1.5px solid rgb(234,238, 251);
    padding: 30px;
}

/* Moving the circles SVG to the exact centre of the earlier
pattern and overlapping */
.intro{ 
    background-image: url('images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0; 
    line-height: 0.8em;
    text-align: center;
    color: hsla(227, 35%, 27%, 1);
}

.intro h1{
    font-weight: 800; 
}

.intro h2{
    font-weight: 600;
    font-size: 12px;
    color: hsla(225, 20%, 60%, 1);
}

/*Started defining the slider properties*/
/* All styles according to style-guide.md. NONE of the 
styling colours or fonts are my own */
.dollar-slider{
    background: solid white;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    max-width: 400px;
    width: 85%;
    height: auto;
    min-width: 350px;
    margin-bottom: 40px;
    border-radius: 3px;
    flex-direction: column;
    color: hsla(225, 20%, 60%, 1);
    font-size: 12px;
    box-shadow: 0 10px 10px 5px lightgray ;
}

.wrapper1-inner{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
}

#pageviews{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
}

#number-price{
    font-size: 30px;
    color : hsla(227, 35%, 27%, 1);
    font-weight: 800;
}

#slider{
    margin: 25px 0;
    width: 100%; 
}

/* !IMPORTANT */
#price-value{
    -webkit-appearance: none;  
    -moz-appearance: none; 
    padding: 0;                  
    font: inherit;
    outline: none;
    box-sizing: border-box;
    transition: opacity .2s;
    cursor: pointer;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
}

/* Defining the mozilla extension for the slider groove(or track). The ::-moz-range-track is a pseudo-element. */
#price-value::-moz-range-track{
    height: 0.5rem;
    background-color: var(--light_grayish_blue_sliderbar);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Defining the mozilla extension for the slider touch knob(that which is clicked and dragged to vary values).
 The ::-moz-range-thumb is also a pseudo-element. */
#price-value::-moz-range-thumb{
    background: url('images/icon-slider.svg');
    background-position: center; 
    background-repeat: no-repeat;
    background-color: solid cyan;
    background-size: 70%;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    border-color: solid cyan;
    box-shadow: 0 0 10px 3px solid cyan;
  }
  
  /* ::-webkit-slider-thumb represents the thumb that we drag in the slider. Pseudo element as well. */
  #price-value::-webkit-slider-thumb {
    background: url('images/icon-slider.svg');
    background-position: center; 
    background-repeat: no-repeat;
    background-color: solid cyan;
    background-size: 70%;
    -webkit-appearance: none;               
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-5px); 
    border-radius: 100%;
    border-color: solid cyan;
    box-shadow: 0 0 10px 3px solid cyan;
  }
  
  /*extension -ms-thumb represents the thumb that we drag. */
  #price-value::-ms-thumb{
    -webkit-appearance: none;               
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    border-color: solid cyann);
    background: no-repeat url('images/icon-slider.svg');
    background-position: center; 
    background-color: solid cyann);
    background-size: 70%;
    box-shadow: 0 0 10px 3px solid cyan;
  }

/*-moz-range-progress (pseudo-element) extension represents the lower part of the groove in the slider */
#price-value::-moz-range-progress {
    height: 0.5rem;
    background-color: solid cyan;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*This pseudo element extension represents the track for the webkit rendering engine*/
#price-value::-webkit-slider-runnable-track{
    height: 0.5rem;
    background-color: solid cyan;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*Represents the part of the values in the slider lesser than the currently selected value or higher values. */
#price-value::-ms-fill-lower {
    height: 0.5rem;
    background-color: var(--soft_cyan);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.billing-discount{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.billing-discount > span{
    margin: 0 10px; 
    font-size: 11px
}

#discount{
    color: hsla(15, 100%, 70%, 1);
    background-color:  hsla(14, 92%, 95%, 1);
    padding: 5px;
    border-radius : 5px;
}

 .switch {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1rem;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(205,215,238);
    transition: .4s;
  }
  
  .slider:before {
    background-color: solid white;
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    left: 0.2rem;
    bottom: 0.1rem;
    transition: .4s;
  }

  /*Using attribute selectors + class selectors to 
  ensure the styling after the discount button is checked */
  input:checked + .slider {
    background-color: solid cyan;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(0.9rem);
    -ms-transform: translateX(0.9rem);
    transform: translateX(0.9rem);
  }
  
  .slider.round {
    border-radius: 34px;
    color: solid white;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

#foot-pricing{
    padding: 10px 30px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
}

#foot-pricing ul{
    list-style: none;
    padding: 0;
}

#foot-pricing li{
    margin-bottom: 10px;
}

#foot-pricing li::before{
    content: url('images/icon-check.svg');
    margin-right: 10px;
}

#foot-pricing button{
    color: hsla(226, 100%, 87%, 1); 
    background-color: hsla(227, 35%, 27%, 1);
    padding: 11px 35px;
    border-radius: 40px;
    border: none; 
    font-size: 12px;
}

.mt-1{
    margin-top: 10px
}

.mt-2{
    margin-top: 20px;
}

.mt-4{
    margin-top: 40px;

}
.m-auto{
    margin: auto;
}

.attribution{
    padding: 10px;
    color: hsla(225, 20%, 60%, 1);
    text-align: center;
    font-size: 9px;
    bottom: 0;
    position: relative;
    align-self: center; 
    font-weight: lighter;
}

.attribution a{
    text-decoration: none;
    color: hsla(225, 20%, 60%, 1);
}

/*IMPORTANT*/
/* Defining the responsive appearances of the site using 
the media query.

Defined sizes are accordig to style-guide.md
Mainly after 480px(standard mobile phone size*/

@media (max-width:480px){
    .intro{
        font-size: 10px; 
        padding: 60px 0; 
    }.intro h2{
        display: flex;
        flex-direction: column;
    }.intro h2 span{
        margin: 7px; 
    }
}

@media (max-width:480px){
    #foot-pricing{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
}


@media (max-width:480px){
    body{
        justify-content: flex-start;
        align-items: flex-start;
    }
    form{
        width: 100%;
        height: auto;
        box-shadow: none;
    }
}

@media (max-width:480px){
    .wrapper1-inner{
        justify-content: center;
    }
    
    #price{
        order:3; 
        margin-bottom: 10px;
    }
    
    #slider{
        margin: 10px; 
    }
 
    .billing-discount > span{
        margin: 0;
        white-space: pre; 
    }
}
